
.next-launch-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  margin-bottom: 3em;
  margin-top: 2em;
  padding: .5em;
}

.next-launch-btn-container {
  display: flex;
  justify-content: space-between;
}
