/* * {
  border: 1px solid aquamarine;
} */

.App {
  display: flex;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  background: linear-gradient(90deg, rgba(16,15,69,1) 0%, rgba(27,23,103,1) 50%, rgba(16,15,69,1) 100%);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  color: white;
  background: linear-gradient(90deg, rgba(16,15,69,1) 0%, rgba(27,23,103,1) 50%, rgba(16,15,69,1) 100%);
}

.header {
  font-size: 40px;
}

.space-news {
  /* padding: 10px; */
  height: 100vh;
  width: 30%;
}

.header {
  padding: 1em;
}

.bookmarks-page-btn {
  /* background-color: #594BDA; */
  background-color: #171459;
  border: 1px solid #594BDA;
  border-radius: 25px;
  font-size: 18px;
  height: 3em;
  width: 14em;
  color: #E7E5FF;
  margin-right: 1.5em;
  cursor: pointer;
}

.bookmarks-page-btn:hover {
  background-color: #241f86;
  border: 1px solid #6F61FF;
}

