.event-card {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid #7AF9F4;
  justify-content: space-around;
  width: 90%;
  padding: .5em;
  border-radius: 20px;
  background-color: #131038;
  background-image: url(../../assets/plain-star-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-date {
  display: flex;
  justify-content: space-between;
}

.event-date {
  font-style: italic;
  color: #7AF9F4;
  font-size: 15px;
}

.event-name {
  font-size: 20px;
}

.event-location {
  font-style: italic;
  font-size: 12px;
  color: #7AF9F4;
}

.event-description {
  font-size: 13px;
}

.event-video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 10em;
  border-radius: 20px;
  background-color: #7AF9F4;
  margin-left: 17em;
  margin-top: 1em;
  font-size: 13px;
}

.event-video-link {
  text-decoration: none;
  color: black;
}

.event-video-box:hover {
  background-color: #594BDA;
}

.event-video-link:hover {
  color: #E7E5FF;
}


@media screen and (max-width: 1300px) {
  .event-video-box {
    margin-left: 7em;
  }
}

@media screen and (max-width: 1111px) {
  .event-video-box {
    margin-left: 5em;
  }
  .event-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .event-video-box {
    margin-left: 2em;
  }
}

@media screen and (max-width: 915px) {
  .event-card {
    margin-left: 5em;
  }
  .event-video-box {
    margin-left: 25em;
  }
}

@media screen and (max-width: 680px) {
  .event-video-box {
    margin-left: 20em;
  }
  .event-card {
    margin-left: 3.2em;
  }
}

@media screen and (max-width: 425px) {
  .event-card {
    width: 80%;
    margin-left: 2em;
    height: 7%;
  }
  .event-video-box {
    margin-left: 10em;
  }
  .event-date {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .event-video-box {
    margin-left: 8em;
  }
}

@media screen and (max-width: 320px) {
  .event-video-box {
    margin-left: 6em;
  }
  .event-card {
    margin-left: 1.5em;
  }
}
