.events-section {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1em;
  background: linear-gradient(90deg, rgba(16,15,69,1) 0%, rgba(27,23,103,1) 50%, rgba(16,15,69,1) 100%);
  color: white;
}

.events-header {
  margin: 1em;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.astronaut-loader {
  height: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.events-loader-text {
  font-size: 20px;
  margin-bottom: 3em;

}

.astronaut-spinning {
  height: 5em;
  width: 5em;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@media screen and (max-width: 1720px) {
  .events-section {
    padding-right: 0;
  }
}


@media screen and (max-width: 915px) {
  .events-header {
    font-size: 25px;
  }
}
