.launch-details-section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-top: 1px solid #594BDA;
}

.mission-div {
  display: flex;
  height: 50%;
}

.mission-details-header,
.launch-details-header {
  font-size: 30px;
}

.mission-patch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 1em;
}

.mission-patch-img {
  border-radius: 20px;
  max-width:90%;
  max-height: 100%;
  box-shadow:  19px 19px 38px #100e3f,-19px -19px 38px #1c186d;
}

.mission-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 1em;
}

.mission-details-header {
  display: flex;
  align-items: center;
  margin-left: .5em;
  font-size: 25px;
}

.shuttle-icon {
  margin-right: .5em;
}

.mission-text-style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-left: 8px solid #594BDA;
  padding-left: 1em;
  background: linear-gradient(145deg, #15113c, #120e32);
  background-image: url(../../assets/night-sky.jpg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.description,
.orbit,
.mission-type,
.launch-provider-name,
.launch-provider-description {
  font-size: 15px;
  width: 97%;
}

.launch-provider-description {
  font-style: italic;
}

.launch-div {
  display: flex;
  height: 50%;
  width: 100vw;
  border-top: 1px solid #594BDA;
}

.launch-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  width: 60em;
  height: 100%;
}

.launch-details-header {
  font-size: 25px;
}

.launch-window,
.rocket-type,
.launch-location,
.rocket-description {
  font-size: 15px
}

.rocket-description {
  font-style: italic;
}

.map {
  display: flex;
  flex-direction: center;
  margin-right: 2em;
}

.map-img {
  height: 24em;
  width: 52em;
  border-radius: 50px;
  padding: 1em;
  border: 1px solid #594BDA;
  background-color: #131038
}

.launch-vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  font-size: 15px;
  width: 13em;
  border-radius: 20px;
  background-color: #7AF9F4;

}

.launch-vid {
  text-decoration: none;
  color: black;
}

.launch-vid-container:hover {
  background-color: #594BDA;
  color: white;
}

.launch-vid:hover {
  color: #E7E5FF;
}

.launch-location {
  display: flex;
  align-items: center;
  padding-left: 1em;
  height: 2.5em;
  width: 37em;
  font-size: 16px;
  background-color: #131038;
  border-radius: 20px;
}

.shuttle-icon {
  font-size: 30px;
}


@media screen and (max-width: 1440px) {
  .map-img {
    height: 20em;
    width: 50em;
  }
}

@media screen and (max-width: 1024px) {
  .launch-details {
    width: 40em;
  }
  .description,
  .orbit,
  .mission-type,
  .launch-provider-name,
  .launch-provider-description {
    font-size: 15px;
  }
  .launch-location {
    font-size: 15px;
    width: 30em;
    height: 3em;
  }
}

@media screen and (max-width: 768px) {
  .description,
  .orbit,
  .mission-type,
  .launch-provider-name,
  .launch-provider-description {
    font-size: 12px;
  }
  .launch-window,
  .rocket-type,
  .launch-location,
  .rocket-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .mission-div {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
  .description,
  .orbit,
  .mission-type,
  .launch-provider-name {
    font-size: 15px;
  }
  .mission-text-style {
    height: 100%;
  }
  .launch-div {
    flex-direction: column;
    width: 90%;
  }
  .launch-details {
    width: 90%;
  }
  .launch-vid-container {
    height: 2em;
    box-shadow: none;
    margin-top: 1em;
  }
  .launch-location {
    box-shadow: none;
    margin-top: 1em;
  }
  .launch-window {
    margin-top: 1em;
  }
  .map {
    height: 4em;
  }
}

@media screen and (max-width: 375px) {
  .launch-location {
    width: 90%;
  }
  .map-img {
    height: 15em;
    width: 50em;
  }
  .launch-provider-description {
    display: none;
  }
}








