.single-launch-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  color: white;
  background: linear-gradient(90deg, rgba(16,15,69,1) 0%, rgba(27,23,103,1) 50%, rgba(16,15,69,1) 100%);
}

.mission-name {
  font-size: 25px;
}

.titles-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
}

.title-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.routing-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110%;
}

.to-bookmarks {
  background-color: #171459;
  border: 1px solid #594BDA;
  border-radius: 20px;
  font-size: 15px;
  height: 2em;
  width: 8.5em;
  color: #E7E5FF;
  cursor: pointer;
  box-shadow:  19px 19px 38px #100e3e,-19px -19px 38px #1c186c;
}

.back-to-main {
  background-color: #594BDA;
  height: 2.7em;
  width: 2.7em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow:  19px 19px 38px #100e3e,-19px -19px 38px #1c186c;
}

.back-icon {
  color: white;
  font-size: 2.1em;
}

.to-bookmarks:hover,
.back-to-main:hover {
  background-color: #6F61FF;
}

.single-launch-date {
  font-style: italic;
}

.launch-status {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.go-status {
  margin-right: 1em;
  color: #01FD61;
}

.yellow-status {
  margin-right: 1em;
  color: #DDE21F;
}

.single-countdown-container p {
  font-size: 22px;
}

.single-countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(145deg, #15113c, #120e32);
  border-radius: 50px;
  width: 35%;
  height: 4.2em;
  box-shadow:  19px 19px 38px #100e3e,-19px -19px 38px #1c186c;
}

.bookmarked {
  display: flex;
  align-items: center;
}

.check-icon {
  font-size: 25px;
  margin: .2em;
}

@media screen and (max-width: 1360px) {
  .single-countdown-container p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .single-countdown-container p {
    font-size: 17px;
  }
  .single-countdown-container {
    width: 40%;
    height: 60%;
  }
}

@media screen and (max-width: 768px) {
  .single-countdown-container p {
    font-size: 13px;
  }
  .bookmark-btn,
  .to-bookmarks,
  .back-to-main {
    font-size: 12px;
  }
  .mission-name {
    font-size: 22px;
  }
  .launch-status {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .titles-div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .mission-name {
    font-size: 20px;
  }
  .single-countdown-container {
    width: 90%;
    height: 20%;
    margin-top: 1em;
    box-shadow: none;
    align-self: center;
  }
  .title-buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    height: 10%;
  }
  .bookmark-btn,
  .to-bookmarks {
    font-size: 12px;
    height: 2em;
  }
  .bookmark-btn {
    width: 20em;
  }
}

@media screen and (max-width: 375px) {
  .mission-name {
    font-size: 25px;
  }
  .title-buttons {
    width: 100%;
  }
  .bookmark-btn {
    width: 30em;
  }
}

@media screen and (max-width: 320px) {
  .mission-name {
    font-size: 20px;
  }
  .title-buttons {
    width: 100%;
  }
  .bookmark-btn {
    width: 30em;
  }
  .single-countdown-container p {
    font-size: 12px;
  }
}
