.launch-card {
  display: flex;
  margin: 1%;
  border: 1px solid #594BDA;
  border-radius: 20px;
  padding: 1em;
  box-shadow:  19px 19px 38px #100e3f,-19px -19px 38px #1c186d;
}

.launch-img {
  height: 200px;
  width: 540px;
  border-radius: 7px;
  box-shadow:  19px 19px 38px #100e3f,-19px -19px 38px #1c186d;
}

.launch-deets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}

.launch-card-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  width: 100%;
}

.launch-date  {
  font-style: italic;
}