.launch-card {
  display: flex;
  margin: 1%;
  border-radius: 20px;
  padding: 1em;
  color: white;
  background-color: #131038;
  background-image: url(../../assets/night-sky.jpg);
  box-shadow:  19px 19px 38px #100e3f,-19px -19px 38px #1c186d;
}

.launch-img {
  height: 200px;
  width: 540px;
  border-radius: 7px;
}

.launch-deets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}

.launch-card-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  width: 100%;
}

.launch-date  {
  font-style: italic;
  color: #594BDA;
}

.launch-name {
  font-size: 27px;
}

.img-company-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #594BDA;
}